<div class="container-fluid">
  <div class="home-page">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-unstyled text-center">
              <li style="font-size: 26px;padding-top: 160px;">Situs ini membantu pengguna untuk mareamalkan bencana yang akan terjadi di Indonesia berdasarkan data historis yang terjadi sebelumnya</li>
              <li style="font-size: 30px;padding-top: 60px;">Tim Pengembang</li>
              <li style="font-size: 30px;padding-bottom: 120px;">SMTI07</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
