<div class="container-fluid">
  <div class="home-page">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-custom">
            <h4 class="panel-title text-center">Statistik Bencana</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <form action="/pages/page_statistik" class="form-horizontal">
                      <h5><strong>Layer Grafik</strong></h5>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Jumlah Kejadian
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Meninggal
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Hilang
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Terluka
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Mengungsi
                        </label>
                      </div>
                      <h5><strong>Tahun</strong></h5>
                      <ul class="list-inline">
                        <li><select class="form-control" style="width:100px"></select></li>
                        <li>s/d</li>
                        <li><select class="form-control" style="width:100px"></select></li>
                      </ul>
                      <ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-danger">Reset</button><li>
                          <li><button type="submit" class="btn btn-primary">Submit</button><li>
                      </ul>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <%= pie_chart Bnpb.group(:bencana_id).count %>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h5><strong>Keterangan</strong></h5>
                    <ul class="list-inline">
                      <li><div class="pie-info" style="background-color: #3366cc"></div></li>
                      <li>Banjir</li>
                    </ul>
                    <ul class="list-inline">
                      <li><div class="pie-info" style="background-color: #dc3912"></div></li>
                      <li>Puting Beliung</li>
                    </ul>
                    <ul class="list-inline">
                      <li><div class="pie-info" style="background-color: #ff9900"></div></li>
                      <li>Tanah Longsor</li>
                    </ul>
                    <ul class="list-inline">
                      <li><div class="pie-info" style="background-color: #109618"></div></li>
                      <li>Gempa Bumi</li>
                    </ul>
                    <ul class="list-inline">
                      <li><div class="pie-info" style="background-color: #990099"></div></li>
                      <li>Letusan Gunung Berapi</li>
                    </ul>
                    <ul class="list-inline">
                      <li><div class="pie-info" style="background-color: #3B3EAC"></div></li>
                      <li>Kekeringan</li>
                    </ul>
                    <ul class="list-inline">
                      <li><div class="pie-info" style="background-color: #0099C6"></div></li>
                      <li>Kebakaran Hutan dan Lahan</li>
                    </ul>
                    <ul class="list-inline">
                      <li><div class="pie-info" style="background-color: #DD4477"></div></li>
                      <li>Gelombang Pasang / Abrasi</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
